<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Plan</title>
  </head>
  <body>
    <h1>New Plan</h1>

    <form action="/plans" method="post">
      <div>
        <input type="text" name="title"/>
      </div>

      <button type="submit">Create Plan</button>
    </form>
  </body>
</html>
