<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plan Show</title>
  </head>
  <body>
    <h1>Show Plan</h1>
    <div>
      <h2><%= plan.title %></h2>
      <div>
          <a href="/plans/<%= plan.id %>/todos/new">Add Todo</a>
      </div>
    </div>

    <form id="todoForm">
      <div>
        <input type="text" name="title"/>
      </div>
      <div>
        <textarea name="description"></textarea>
      </div>

      <button type="submit">Save Todo</button>
    </form>

    <div id="todos"></div>
  </body>
  <script src="/js/plans.js" charset="utf-8"></script>

  <script type="text/javascript">
    renderTodos('#todos');
    handleSubmit('#todoForm', '#todos');
  </script>
</html>
