<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plan Show</title>
  </head>
  <body>
    <h1>Show Plan</h1>
    <div>
      <h2><%= plan.title %></h2>
      <div>
          <a href="/plans/<%= plan.id %>/todos/new">Add Todo</a>
      </div>
    </div>
  </body>
</html>
