<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About Page</h1>
    <h2>This app is the ultimate todo app.  It does everything but eat.</h2>
  </body>
</html>
