<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <h1>Contacts Page</h1>
    <h2>For further info contact Mickey Mouse at 999-999-9999 or mickeymouse@gmail.com.</h2>
  </body>
</html>
