<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Todo</title>
  </head>
  <body>
    <div class="todo-item">
      <h1><%= todo.title %></h1>
      <p><%= todo.description %></p>
    </div>
  </body>
</html>
